/************ Custom Font ************/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/************ Default Css ************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #121212 !important;
    color: #fff !important;
    font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}

p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: 0;
    background-color: transparent;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

@media (min-width: 1700px) {
    main .container {
        max-width: 100%;
        padding: 0 150px;
    }
}

/************ Navbar Css ************/
nav.navbar {
    padding: 18px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;
}

nav.navbar.scrolled {
    padding: 0 0;
    background-color: #121212;
}

nav.navbar a.navbar-brand {
    width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
    font-weight: 400;
    color: #fff !important;
    letter-spacing: 1px;
    padding: 0 25px;
    font-size: 18px;
    opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}

span.navbar-text {
    display: flex;
    align-items: center;
}

.hover-underline {
    display: inline-block;
    position: relative;
    color: #B3EFB2;
}

.hover-underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B3EFB2;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
}

.banner .tagline {
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
}

.banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 96%;
}

.banner a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.banner a svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
}

.banner a:hover svg {
    margin-left: 25px;
}

.banner img {
    animation: updown 3s linear infinite;
}

@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}

.txt-rotate > .wrap {
    border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
    padding: 0 0 50px 0;
    position: relative;
    text-align: center;
}

.skill-box {
    border-radius: 64px;
    box-shadow: 3px 3px 3px 3px #B3EFB2;
    text-align: center;
    padding: 60px 50px;
    margin: -60px auto 0 auto;
}

.skill h2 {
    font-size: 45px;
    font-weight: 700;
}

.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.tagcloud {
    margin: 5rem auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
    max-width: 40%;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
    color: #B3EFB2;
}

/************ Projects Css ************/
.project {
    padding: 80px 0;
    position: relative;
    background-color: #121212;
}

.project h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.project p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 14px auto 30px auto;
    text-align: center;
    width: 56%;
}

.project-box {
    border-radius: 64px;
    box-shadow: 3px 3px 3px 3px #B3EFB2;
    text-align: center;
    padding: 60px 10px 40px 10px;
    margin: -60px auto 0 auto;
}

.project .nav.nav-pills {
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: #121212;
    overflow: hidden;
}

.project .nav.nav-pills .nav-item {
    width: 25%;
}

.project .nav.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    padding: 17px 0;
    color: #fff;
    width: 100%;
    font-size: 7px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
}

@media (min-width: 721px) {
    .project .nav.nav-pills .nav-link {
        font-size: 10px;
    }

    .project .nav.nav-pills {
        width: 85%;
    }

    .project-box {
        padding: 60px 30px;
    }
}

@media (min-width: 1152px) {
    .project .nav.nav-pills .nav-item {
        width: 25%;
    }

    .project .nav.nav-pills .nav-link {
        font-size: 15px;
    }

    .project .nav.nav-pills {
        width: 72%;
    }

    .project-box {
        padding: 60px 50px;
    }
}

.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: inherit;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
    color: #B3EFB2;
}

.nav-link#projects-tabs-tab-first {
    border: 1px solid rgba(255, 255, 255);
    border-radius: 55px 0 0 55px;
}

.nav-link#projects-tabs-tab-second {
    border-top: 1px solid rgba(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255);
    border-right: 1px solid rgba(255, 255, 255);
}

.nav-link#projects-tabs-tab-third {
    border-top: 1px solid rgba(255, 255, 255);
    border-bottom: 1px solid rgba(255, 255, 255);
}

.nav-link#projects-tabs-tab-fourth {
    border: 1px solid rgba(255, 255, 255);
    border-radius: 0 55px 55px 0;
}

#tabCenter {
    margin: 0 auto;
    width: 110%;
}

.project-image {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    overflow: hidden;
}

.project-image::before {
    content: "";
    background: #121212;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    height: 0;
}

.project-image:hover::before {
    height: 100%;
}

.project-text {
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease-in-out;
    opacity: 0;
    width: 100%;
}

.project-image:hover .project-text {
    top: 50%;
    opacity: 1;
}

.project-text h4 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1em;
}

.project-text-body {
    display: inline-block;
    font-style: italic;
    font-weight: 400;
    font-size: 7px;
    letter-spacing: 1px;
}

.project-text-tech {
    font-style: normal;
    font-weight: bold;
}

@media (min-width: 655px) {
    .project-text h4 {
        font-size: 30px;
    }

    .project-text-body {
        font-size: 15px;
    }
}

/************ Footer Css ************/
.footer {
    padding: 0 0 50px 0;
}

@media (max-width: 480px) {
    .footer {
        text-align: center;
    }
}

.footer img {
    width: 116px;
}

.footer p {
    font-weight: 400;
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 1px;
    margin-top: 20px;
}
